<div class="container space-top-medium">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <a [routerLink]="['/']"><img src="../assets/img/logo.png" alt="" style="width:60%;height:auto;"></a>
      <h1>&#9782; Verwaltung der Pflegekräfte</h1>
    </div>
  </div>
</div>
<div class="container space-top-medium" style="margin-bottom: 50px;">
  <router-outlet></router-outlet>
</div>

<footer class="footer" style="position:relative; bottom:0; width: 100vw;">

  <div class="container space-top-medium">
    <div class="row">
      <hr>
      <div class="col-md-12 text-center" style="margin-bottom: 20px;">
        <p><b>Care Assist 2.0 	&copy; Copyright 2017</b></p>
        <p><b>Powered by Angular CLI</b></p>

      </div>
    </div>
  </div>
</footer>
